.root {
    -fx-background-color: darkgray;
}

.button {
    -fx-background-color: steelblue;
}

.button:hover {
    -fx-background-color: darkcyan;
}

.button:pressed {
    -fx-background-color: darksalmon;
}

#display {
    -fx-background-color: aliceblue;
}

.non-digitButtons {
    -fx-background-color: darksalmon;
}

